node_modules/
dist/
build/
/.venv
/backend/.venv
/frontend/node_modules
.env
.env.*
.env.local
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
__pycache__/
*.py[cod]
*.pyo
*.pyc
*.sqlite3
.pytest_cache/
.vscode/
.idea/
/.cache
/.mypy_cache
.pytest_cache
/.python-version
*.log
*.egg-info/
.venv/
venv/
pip-wheel-metadata/
/.ipynb_checkpoints
/.pids
/.sass-cache
/.parcel-cache
/.next
/.turbo
.DS_Store
coverage.xml
frontend/dist/